<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<head th:replace="~{fragments :: head}"></head>
<body class="container">
    <h1 th:replace="~{fragments :: header}"></h1>

    <nav th:replace="~{fragments :: navigation}"></nav>

    <p th:unless="${events} and ${events.size()}">No events!</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Contact Email</th>
                <th>Event Type</th>
                <th>Address</th>
                <th>Register</th>
            </tr>
        </thead>
        <tr th:each="event : ${events}">
            <td th:text="${event.getName()}"></td>
            <td th:text="${event.getDescription()}"></td>
            <td th:text="${event.getContactEmail()}"></td>
            <td th:text="${event.type.displayName}"></td>
            <td th:text="|${event.getAddress}
${event.city} ${event.state.displayName} ${event.getZipCode}|"></td>
            <th:block th:if="${event.getRegister()}">
                <td th:text="Yes"></td>
            </th:block>
        </tr>
    </table>

</body>
</html>